<div class="modal fade" id="edituserModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2>Update User</h2>
            </div>
            <div class="modal-body">
                <div class="row animated fadeIn padding">

                    <div class="row text-center" ng-if="updatingUser">
                        <div class="col-xs-12 col-sm-12">
                            <pulse-spinner></pulse-spinner>
                        </div>
                    </div>

                    <form class="form" ng-if="!updatingUser" ng-submit="updateUser(user)" novalidate="novalidate">

                        <div class="row">
                            <div class="col-xs-12 col-sm-3">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Employee Name" ng-model="user.first_name" required="required"/>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-3">
                                <div class="form-group">
                                    <select class="form-control" ng-model="user.custom_fields.department">
                                        <option value="">---Select a Department---</option>
                                        <option value="IT">IT</option>
                                        <option value="Sales">Sales</option>
                                        <option value="HR">HR</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-3">
                                <div class="form-group">
                                    <select class="form-control" ng-model="user.role" required="required">
                                        <option value="">---Select a Role---</option>
                                        <option value="App">App</option>
                                        <option value="Incident">Incident Dashboard</option>
                                        <option value="Admin">Admin</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-3">
                                <div class="form-group">
                                    <select class="form-control" ng-model="user.custom_fields.crisis_role" required="required">
                                        <option value="">---Select a Crisis Role---</option>
                                        <option value="CMT">CMT</option>
                                        <option value="BRT Chair">BRT Chair</option>
                                        <option value="BRT Member">BRT Member</option>
                                        <option value="other">Other</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-3">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Mobile Phone" ng-model="user.custom_fields.mobile_phone" required="required"/>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-2">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Work Phone" ng-model="user.custom_fields.work_phone" required="required"/>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-3">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Home Phone" ng-model="user.custom_fields.home_phone" required="required"/>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-4">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Email Address" ng-model="user.email" required="required"/>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-3">
                                <input type="submit" class="btn button-blue btn-block" value="Update"/>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
