<div class="row text-center" ng-if="loading">
    <div class="col-xs-12 col-sm-12">
        <pulse-spinner></pulse-spinner>
    </div>
</div>


<div class="container-fluid" ng-if="!loading">
  <div class="row">
    <div class="col-sm-3 col-lg-2">
      <nav class="navbar navbar-default navbar-fixed-side sidebar-background">

          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse padding-top" id="navbar">
              <ul class="nav navbar-nav padding-top text-left">
                <li><a ui-sref="dashboard">Incidents</a></li>
                <li ng-if="profile.role === 'Admin' || profile.role === 'Super Admin'" class="active"><a ui-sref="dashboard.documents">Document Library</a></li>
                <li ng-if="profile.role === 'Admin' || profile.role === 'Super Admin'"><a ui-sref="dashboard.users">Manage Users</a></li>
                <li ng-if="profile.role === 'Admin' || profile.role === 'Super Admin'"><a ui-sref="dashboard.locations">Manage Locations</a></li>
                <li><a ui-sref="dashboard.incidents">Previous Incidents</a></li>
              </ul>

            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->

      </nav>
    </div>
    <div class="col-sm-9 col-lg-10">

        <div class="container-fluid padding">

            <div class="row animated fadeIn">
                <h1 class="text-title">Document Library</h1>
                <h5>Add documents andd configure access levels</h5>

                <div class="padding-top padding-bottom">
                    <h1 class="text-title">Add Document</h1>
                </div>

                <div class="box padding">

                    <div class="row text-center" ng-if="loadingImage">
                        <div class="col-xs-12 col-sm-12">
                            <pulse-spinner></pulse-spinner>
                        </div>
                    </div>

                    <form ng-if="!loadingImage" ng-submit="uploadFile(files)" class="form padding-top"  novalidate>

                        <h5>Drag and drop a file from your desktop, or
                            <div class="btn button-blue" ngf-select ng-model="files" name="file" ngf-pattern="'image/*'"
                                ngf-accept="'acceptSelect'" ngf-max-size="20MB" ngf-min-height="100"
                                ngf-resize="{width: 100, height: 100}">Browse Files
                            </div>
                        </h5>
                        <div class="row padding-top" ng-hide="files">
                            <div class="col-xs-12 col-sm-6">
                                <div ngf-select="" ngf-drop="" ng-model="files" ngf-model-invalid="invalidFiles" ngf-model-options="modelOptionsObj"
                                     ngf-multiple="multiple" ngf-pattern="pattern" ngf-accept="acceptSelect" ng-disabled="disabled" ngf-capture="capture"
                                     ngf-drag-over-class="dragOverClassObj" ngf-validate="validateObj" ngf-resize="resizeObj"
                                     ngf-resize-if="resizeIfFn($file, $width, $height)" ngf-dimensions="dimensionsFn($file, $width, $height)"
                                     ngf-duration="durationFn($file, $duration)" ngf-keep="keepDistinct ? 'distinct' : keep" ngf-fix-orientation="orientation"
                                     ngf-max-files="maxFiles" ngf-ignore-invalid="ignoreInvalid" ngf-run-all-validations="runAllValidations" ngf-allow-dir="allowDir"
                                     class="drop-box ng-pristine ng-valid" ngf-drop-available="dropAvailable">
                                     Drag and drop a files here
                                </div>
                            </div>
                        </div>

                        <p ng-show="files">The file is ready to upload</p>

                        <div class="row padding-top">
                            <div class="col-xs-12 col-sm-2">
                                <input type="submit" ng-disabled="!files" class="btn button-blue btn-block" value="Upload"/>
                            </div>
                        </div>

                    </form>

                </div>

                <h1 class="text-title">Current Documents</h1>
                <br>

                <div class="row text-center" ng-if="loadingFiles">
                    <div class="col-xs-12 col-sm-12">
                        <pulse-spinner></pulse-spinner>
                    </div>
                </div>

                <div class="row text-center" ng-if="deletingFile">
                    <div class="col-xs-12 col-sm-12">
                        <pulse-spinner></pulse-spinner>
                    </div>
                </div>

                <div class="row text-center padding animated fadeIn" ng-if="!deletingFile &&  !loadingFiles && allfiles.length <= 0">
                    <div class="col-xs-12 col-sm-12">
                        <h4>No Document Availables</h4>
                    </div>
                </div>

                <div class="table-responsive" ng-if="!loadingFiles && !deletingFile && allfiles.length > 0">
                    <div class="row padding-bottom">
                        <div class="col-xs-12 col-sm-3">
                            <div class="form-group">
                                <label for="searchBox">Search</label>
                                 <input ng-model="Sdocuments" id="searchBox" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <table class="table table-hover animated fadeIn">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Access</th>
                                <th>Manage</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="box">
                            <tr ng-repeat="file in allfiles | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage | filter:Sdocuments">
                                <td>{{ file.name }}</td>
                                <td>
                                    <span ng-if="file.custom_fields.brtmember">BRT Member, </span>
                                    <span ng-if="file.custom_fields.brtchair">BRT Chair, </span>
                                    <span ng-if="file.custom_fields.cmt">CMT, </span>
                                    <span ng-if="file.custom_fields.other">Other</span>
                                </td>
                                <td class="icon-arrow">
                                    <a ng-click="documentModal(file.id)" data-toggle="tooltip" title="Edit File">
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </a>
                                    <a ng-click="openModal(file.id)" class="padding-left" data-toggle="tooltip" title="Remove File">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </a>
                                    <a ng-href="{{ file.url }}"class="padding-left" data-toggle="tooltip" title="Download File">
                                        <span class="glyphicon glyphicon-save-file"></span>
                                    </a>
                                </td>
                                <th>
                                  <span ng-if="!file.processed" class="text-orange">Processing</span>
                                  <span ng-if="file.processed" class="text-success">Ready</span>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row text-center" ng-if="!loadingFiles && !deletingFile && allfiles.length > 0">
                    <div class="col-xs-12 col-sm-12">
                        <ul class="pagination">
                            <li><a href="" ng-click="pagination.prevPage()">&laquo;</a></li>
                            <li ng-repeat="n in [] | range: pagination.numPages" ng-class="{active: n == pagination.page}">
                                <a href="" ng-click="pagination.toPageId(n)">{{n + 1}}</a>
                            </li>
                            <li><a href="" ng-click="pagination.nextPage()">&raquo;</a></li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>

        <div ng-include="'views/documents/document.html'"></div>
        <div ng-include="'views/documents/removeFile.html'"></div>

    </div>

</div>

  </div>
</div>
