<div class="row text-center" ng-if="loading">
    <div class="col-xs-12 col-sm-12">
        <pulse-spinner></pulse-spinner>
    </div>
</div>

<div class="container-fluid" ng-if="!loading">
  <div class="row">
    <div class="col-sm-3 col-lg-2">
      <nav class="navbar navbar-default navbar-fixed-side sidebar-background">

          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse padding-top" id="navbar">
              <ul class="nav navbar-nav padding-top text-left">
                <li><a ui-sref="dashboard">Incidents</a></li>
                <li ng-if="profile.role === 'Admin' || profile.role === 'Super Admin'"><a ui-sref="dashboard.documents">Document Library</a></li>
                <li ng-if="profile.role === 'Admin' || profile.role === 'Super Admin'"><a ui-sref="dashboard.users">Manage Users</a></li>
                <li ng-if="profile.role === 'Admin' || profile.role === 'Super Admin'"><a ui-sref="dashboard.locations">Manage Locations</a></li>
                <li class="active"><a ui-sref="dashboard.incidents">Previous Incidents</a></li>
              </ul>

            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->

      </nav>
    </div>
    <div class="col-sm-9 col-lg-10">

        <div class="container-fluid padding">

            <div class="row animated fadeIn">
                <h1 class="text-title">Previous Incidents <a ui-sref="dashboard.requests" class="btn button-blue">View Archive</a> </h1>
                <h5>Review activity from previous incidents as PDFs</h5>

                <div class="padding-top padding-bottom">
                    <h1 class="text-title">Incidents</h1>
                </div>

                <div class="row text-center" ng-if="loadingincidents">
                    <div class="col-xs-12 col-sm-12">
                      <pulse-spinner></pulse-spinner>
                    </div>
                </div>

                <div class="row text-center padding animated fadeIn" ng-if="!loadingincidents && incidents.length <= 0">
                    <div class="col-xs-12 col-sm-12">
                        <h4>No Incident Availables</h4>
                    </div>
                </div>

                <div class="table-responsive" ng-if="!loadingincidents && incidents.length > 0">
                    <div class="row padding-bottom">
                        <div class="col-xs-12 col-sm-3">
                            <div class="form-group">
                                <label for="searchBox">Search</label>
                                 <input ng-model="Sincidents" id="searchBox" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <table class="table table-hover animated fadeIn">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Incident Title</th>
                                <th>Address</th>
                                <th>View</th>
                            </tr>
                        </thead>
                        <tbody class="box">
                            <tr ng-repeat="incident in incidents | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage | filter:Sincidents">
                                <td>{{ incident.created_at | date:'dd-MM-yyyy' }}</td>
                                <td>{{ incident.name }}</td>
                                <td ng-if="!incident.custom_fields.hasTemporary">{{ incident.place.address }}</td>
                                <td ng-if="incident.custom_fields.hasTemporary">{{ incident.custom_fields.temporary_address }}</td>
                                <td class="icon-arrow">
                                    <a ng-click="openModal(incident.id)" data-toggle="tooltip" title="Open Summary">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </a>
                                    <a class="padding-left" ng-click="removeIncident(incident.id)" data-toggle="tooltip" title="Send to archive">
                                        <span class="fa fa-archive"></span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row text-center" ng-if="!loadingincidents && incidents.length > 0">
                    <div class="col-xs-12 col-sm-12">
                        <ul class="pagination">
                            <li><a href="" ng-click="pagination.prevPage()">&laquo;</a></li>
                            <li ng-repeat="n in [] | range: pagination.numPages" ng-class="{active: n == pagination.page}">
                                <a href="" ng-click="pagination.toPageId(n)">{{n + 1}}</a>
                            </li>
                            <li><a href="" ng-click="pagination.nextPage()">&raquo;</a></li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>
  <div ng-include="'views/documents/openfile.html'"></div>
  </div>
</div>
