<div class="row text-center" ng-if="loading">
    <div class="col-xs-12 col-sm-12">
        <pulse-spinner></pulse-spinner>
    </div>
</div>


<div class="container-fluid" ng-if="!loading">
  <div class="row">
    <div class="col-sm-3 col-lg-2">
      <nav class="navbar navbar-default navbar-fixed-side sidebar-background">

          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse padding-top" id="navbar">
              <ul class="nav navbar-nav padding-top text-left">
                <li class="active"><a ui-sref="dashboard">Incidents</a></li>
                <li ng-if="profile.role === 'Admin' || profile.role === 'Super Admin'"><a ui-sref="dashboard.documents">Document Library</a></li>
                <li ng-if="profile.role === 'Admin' || profile.role === 'Super Admin'"><a ui-sref="dashboard.users">Manage Users</a></li>
                <li ng-if="profile.role === 'Admin' || profile.role === 'Super Admin'"><a ui-sref="dashboard.locations">Manage Locations</a></li>
                <li><a ui-sref="dashboard.incidents">Previous Incidents</a></li>
              </ul>

            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->

      </nav>
    </div>
    <div class="col-sm-9 col-lg-10">

      <div class="row text-center" ng-if="sendingSummary">
          <div class="col-xs-12 col-sm-12">
              {{ progressbar.status }}
          </div>
      </div>

        <div class="container-fluid padding-top">

            <div class="row text-center" ng-if="loadingActive">
                <div class="col-xs-12 col-sm-12">
                    <pulse-spinner></pulse-spinner>
                </div>
            </div>

            <div class="row animated fadeIn" ng-if="!loadingActive">

                <div ng-if="!active">
                    <h1 class="text-title">New Incident</h1>
                    <h5 class="padding-bottom">Create a new active incident</h5>

                    <div class="box padding">

                        <div class="row text-center" ng-if="creatingincident">
                            <div class="col-xs-12 col-sm-12">
                              <pulse-spinner></pulse-spinner>
                            </div>
                        </div>

                        <form class="form" ng-if="!creatingincident" ng-submit="createIncident(incident)" novalidate="novalidate">

                            <div class="row">
                                <div class="col-xs-12 col-sm-6">

                                    <div ng-if="incident.selected && incident.location.address" class="alert alert-danger" role="alert">
                                        You can not select a location from the list and create a new one at the same time.
                                    </div>

                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Incident Title" ng-model="incident.name" required="required"/>
                                    </div>

                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Incident Description" ng-model="incident.description" required="required"/>
                                    </div>

                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Incident Phone Number" ng-model="incident.phone" required="required"/>
                                    </div>

                                    <div class="row text-center" ng-if="loadinglocations">
                                        <div class="col-xs-12 col-sm-12">
                                            <pulse-spinner></pulse-spinner>
                                        </div>
                                    </div>

                                    <div class="form-group" ng-if="!loadinglocations">
                                        <select class="form-control" ng-model="incident.selected" ng-options="location.id as location.name for location in locations">
                                            <option value="">---Select a Location---</option>
                                        </select>
                                    </div>

                                    <p>Or enter the address of the incident, or drag the marker on the map</p>

                                    <div class="row vertical-align">
                                        <div class="col-xs-12 col-sm-8">
                                            <div class="form-group">
                                                <input type="text" vs-google-autocomplete name="place" class="form-control" placeholder="Street Address" ng-model="incident.location.address"/>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-4" id="getAddressButton">
                                            <button type="button" class="btn button-blue btn-block" ng-click="getAddress(incident.location.address)">Find on Map</button>
                                        </div>
                                    </div>

                                    <div class="row text-center padding-top" ng-if="incident.selected || incident.location.latitude && incident.location.address">
                                        <div class="col-xs-12 col-sm-12">
                                            <input ng-disabled="incident.selected && incident.location.address" type="submit" class="btn button-blue" value="Start Incident"/>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div id="map_canvas">
                                        <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options" control="map.control">
                                            <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
                                            </ui-gmap-marker>
                                        </ui-gmap-google-map>
                                    </div>
                                </div>
                            </div>

                        </form>


                    </div>
                </div>

                <div ng-if="active">

                    <h1 class="text-title">
                        Active Incident
                        <button type="button" class="btn button-blue no-print" ng-click="editIncident(event.id)">Edit Incident</button>
                        <button type="button" class="btn button-red no-print" ng-click="stopModal()">Stop Incident</button>
                    </h1>

                    <h5 ng-if="!event.custom_fields.hasTemporary" class="padding-bottom padding-top">{{ event.name }}, {{ event.place.address }}, {{ event.place.country }}</h5>
                    <h5 ng-if="event.custom_fields.hasTemporary" class="padding-bottom padding-top"><span ng-if="event.custom_fields.temporary_name !== event.custom_fields.temporary_address && event.custom_fields.hasTemporary">{{ event.custom_fields.temporary_name }}</span>{{ event.name }}, {{ event.custom_fields.temporary_address }}, {{ event.custom_fields.temporary_country }} {{ event.custom_fields.temporary_country }}</h5>

                    <div class="row">
                      <div class="col-xs-12 col-sm-8">
                        <p>
                          {{ event.details }}
                        </p>
                      </div>
                    </div>

                    <h1 class="text-title">Who's available to respond?</h1>
                    <br>

                    <div class="row text-center" ng-if="checking">
                        <div class="col-xs-12 col-sm-12">
                            <pulse-spinner></pulse-spinner>
                        </div>
                    </div>

                    <div class="row text-center padding animated fadeIn" ng-if="!checking && users.length <= 0">
                        <div class="col-xs-12 col-sm-12">
                            <h4>No User Availables</h4>
                        </div>
                    </div>

                    <div class="table-responsive" ng-if="!checking && users.length > 0">
                        <div class="row padding-bottom no-print">
                            <div class="col-xs-12 col-sm-3">
                                <div class="form-group">
                                    <label for="searchBox">Search</label>
                                     <input ng-model="Susersactive" id="searchBox" class="form-control"/>
                                </div>
                            </div>
                        </div>

                        <table id="usersIncident" class="table table-hover animated fadeIn">
                            <thead>
                                <tr>
                                    <th>
                                      <a href="" ng-click="sortType = 'user.first_name'; sortReverse = !sortReverse">
                                        Name
                                        <span ng-show="sortType == 'user.first_name' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'user.first_name' && sortReverse" class="fa fa-caret-up"></span>
                                      </a>
                                    </th>
                                    <th>
                                      <a href="" ng-click="sortType = 'user.custom_fields.department'; sortReverse = !sortReverse">
                                        Dept
                                        <span ng-show="sortType == 'user.custom_fields.department' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'user.custom_fields.department' && sortReverse" class="fa fa-caret-up"></span>
                                      </a>
                                    </th>
                                    <th>
                                      <a href="" ng-click="sortType = 'user.custom_fields.mobile_phone'; sortReverse = !sortReverse">
                                        Mobile
                                        <span ng-show="sortType == 'user.custom_fields.mobile_phone' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'user.custom_fields.mobile_phone' && sortReverse" class="fa fa-caret-up"></span>
                                      </a>
                                    </th>
                                    <th>
                                      <a href="" ng-click="sortType = 'user.custom_fields.work_phone'; sortReverse = !sortReverse">
                                        Work
                                        <span ng-show="sortType == 'user.custom_fields.work_phone' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'user.custom_fields.work_phone' && sortReverse" class="fa fa-caret-up"></span>
                                      </a>
                                    </th>
                                    <th>
                                      <a href="" ng-click="sortType = 'user.custom_fields.home_phone'; sortReverse = !sortReverse">
                                        Home
                                        <span ng-show="sortType == 'user.custom_fields.home_phone' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'user.custom_fields.home_phone' && sortReverse" class="fa fa-caret-up"></span>
                                      </a>
                                    </th>
                                    <th>
                                      <a href="" ng-click="sortType = 'user.message'; sortReverse = !sortReverse">
                                        Availability
                                        <span ng-show="sortType == 'user.message' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'user.message' && sortReverse" class="fa fa-caret-up"></span>
                                      </a>
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody class="box">
                                <tr ng-repeat="user in users | orderBy:sortType:sortReverse | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage | filter:Susersactive">
                                    <td>
                                        {{ user.user.first_name }}
                                          <div class="collapse user_collapse" id="tab_{{ user.id }}">
                                              <hr>
                                              <p>Role: {{ user.user.role }}</p>
                                              <p>Crisis Role: {{ user.user.custom_fields.crisis_role }}</p>
                                              <p>Email: {{ user.user.email }}</p>
                                          </div>
                                    </td>
                                    <td>{{ user.user.custom_fields.department }}</td>
                                    <td>{{ user.user.custom_fields.mobile_phone }}</td>
                                    <td>{{ user.user.custom_fields.work_phone }}</td>
                                    <td>{{ user.user.custom_fields.home_phone }}</td>
                                    <td>{{ user.message }}</td>
                                    <td class="icon-arrow" role="button" ng-click="changeIcon(user.id)" data-toggle="collapse" href="#tab_{{ user.id }}" aria-expanded="false" aria-controls="collapseExample">
                                        <span id="span_{{ user.id }}" class="glyphicon glyphicon-menu-right"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="row" ng-if="!checking && users.length > 0">
                          <div class="col-xs-12 col-sm-2 numUsers">
                            Number of users per page:
                          </div>

                          <div class="col-xs-12 col-sm-3 padding-top">
                              <select class="form-control" name="" ng-init="num = 15" ng-change="changeNumUsers(num)" ng-model="num">
                                <option value="15">15</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                              </select>
                          </div>

                          <div class="col-xs-12 col-sm-7">
                            <ul class="pagination">
                                  <li><a href="" ng-click="pagination.prevPage()">&laquo;</a></li>
                                  <li ng-repeat="n in [] | range: pagination.numPages" ng-class="{active: n == pagination.page}">
                                      <a href="" ng-click="pagination.toPageId(n)">{{n + 1}}</a>
                                  </li>
                                  <li><a href="" ng-click="pagination.nextPage()">&raquo;</a></li>
                              </ul>
                          </div>
                        </div>



                        <div class="row text-center no-print" >
                            <div class="col-xs-12 col-sm-12">

                            </div>
                        </div>

                    </div>

                    <h1 class="no-print text-title">Message Centre <button  ng-disabled="checking" ng-click="openSummaryModal()" class="btn button-blue" type="button">Create Summary</button></h1>
                    <br>

                    <div class="row text-center animated fadeIn" ng-if="sending">
                        <div class="col-xs-12 col-sm-12">
                            <pulse-spinner></pulse-spinner>
                        </div>
                    </div>

                    <div class="box padding no-print" ng-if="!sending">

                        <h5>Select the parties who you wish to receive the message</h5>

                        <form class="form" name="messageForm" ng-submit="sendMessage(mess, messageForm)" novalidate="novalidate">

                            <label>Send to:</label>

                            <div class='checkbox-inline'>
                                <label for="brtmember">
                                    <input type='checkbox' id="brtmember" name='' value='BRTMember' ng-model="mess.member">
                                    BRT Member
                                </label>
                            </div>

                            <div class='checkbox-inline'>
                                <label for="brtchair">
                                    <input type='checkbox' id="brtchair" name='' value='BRTChair' ng-model="mess.chair">
                                    BRT Chair
                                </label>
                            </div>

                            <div class='checkbox-inline'>
                                 <label for="cmt">
                                    <input type='checkbox' id="cmt" name='' value='CMT' ng-model="mess.cmt">
                                    CMT
                                </label>
                            </div>

                            <div class='checkbox-inline'>
                                 <label for="other">
                                    <input type='checkbox' id="other" name='' value='Other' ng-model="mess.other">
                                    Other
                                </label>
                            </div>

                            <div class="form-group padding-top">
                                <textarea maxlength="300" placeholder="Message" class="form-control" name="name" rows="8" cols="40" ng-model="mess.text" required="required" maxlength="1200"></textarea>
                            </div>
                            <p><small>Characters remaining {{ 300 - mess.text.length }}</small></p>

                            <input type="submit" class="btn button-blue" value="Send Message"/>

                        </form>

                    </div>

                    <div class="padding-top">
                        <h1 class="text-title">Activity Feed</h1>

                        <div class="row text-center" ng-if="loadingFeed">
                            <div class="col-xs-12 col-sm-12">
                                <pulse-spinner></pulse-spinner>
                            </div>
                        </div>

                        <div class="table-responsive" ng-if="!loadingFeed">
                            <div class="row padding-bottom no-print">
                                <div class="col-xs-12 col-sm-3">
                                    <div class="form-group">
                                        <label for="searchBox">Search</label>
                                         <input ng-model="Sfeedssearch" id="searchBox" class="form-control"/>
                                    </div>
                                </div>
                            </div>
                            <table id="usersIncident" class="table table-hover animated fadeIn">
                                <thead>
                                    <tr>
                                        <th>Type</th>
                                        <th>Time</th>
                                        <th>Who</th>
                                        <th>Description</th>
                                        <th class="pull-right no-print"><a ng-click="openNote()" class="btn button-trans">Add Incident Note</a></th>
                                    </tr>
                                </thead>
                                <tbody class="box">
                                    <tr ng-repeat="feed in feeds | startFrom: pagination2.page * pagination2.perPage | limitTo: pagination2.perPage | filter:Sfeedssearch">
                                        <td>
                                            <span data-toggle="tooltip" title="Note" ng-if="feed.type == 'note'" class="glyphicon glyphicon-edit"></span>
                                            <span data-toggle="tooltip" title="Notification" ng-if="feed.type == 'notification'" class="glyphicon glyphicon-phone"></span>
                                            <span data-toggle="tooltip" title="Availability" ng-if="feed.type == 'check'" class="glyphicon glyphicon-user"></span>
                                        </td>
                                        <td>{{ feed.time | date:'medium' }}</td>
                                        <td>{{ feed.who }}</td>
                                        <td>{{ feed.text }}</td>
                                        <td class="no-print"></td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="row text-center no-print" ng-if="!loadingFeed && feeds.length > 0">
                                <div class="col-xs-12 col-sm-12">
                                    <ul class="pagination">
                                        <li><a href="" ng-click="pagination2.prevPage()">&laquo;</a></li>
                                        <li ng-repeat="n in [] | range: pagination2.numPages" ng-class="{active: n == pagination2.page}">
                                            <a href="" ng-click="pagination2.toPageId(n)">{{n + 1}}</a>
                                        </li>
                                        <li><a href="" ng-click="pagination2.nextPage()">&raquo;</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <div ng-include="'views/incidents/incident.html'"></div>
        <div ng-include="'views/incidents/stop.html'"></div>
        <div ng-include="'views/activityfeed/addnote.html'"></div>
        <div ng-include="'views/summary/sendSummary.html'"></div>
    </div>
  </div>
</div>
