<div class="row text-center" ng-if="loading">
    <div class="col-xs-12 col-sm-12">
        <pulse-spinner></pulse-spinner>
    </div>
</div>


<div class="container-fluid" ng-if="!loading">
  <div class="row">
    <div class="col-sm-3 col-lg-2">
      <nav class="navbar navbar-default navbar-fixed-side sidebar-background">

          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse padding-top" id="navbar">
              <ul class="nav navbar-nav padding-top text-left">
                <li><a ui-sref="dashboard">Incidents</a></li>
                <li ng-if="profile.role === 'Admin' || profile.role === 'Super Admin'"><a ui-sref="dashboard.documents">Document Library</a></li>
                <li ng-if="profile.role === 'Admin' || profile.role === 'Super Admin'"><a ui-sref="dashboard.users">Manage Users</a></li>
                <li ng-if="profile.role === 'Admin' || profile.role === 'Super Admin'" class="active"><a ui-sref="dashboard.locations">Manage Locations</a></li>
                <li><a ui-sref="dashboard.incidents">Previous Incidents</a></li>
              </ul>

            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->

      </nav>
    </div>
    <div class="col-sm-9 col-lg-10">

        <div class="container-fluid padding">

            <div class="row animated fadeIn">
                <h1 class="text-title">Manage Locations</h1>
                <h5>Add and remove pre-defined locations to be used in an incident</h5>

                <div class="padding-top padding-bottom">
                    <h1 class="text-title">Add New Location</h1>
                </div>


                <div class="box padding">

                    <div class="row text-center" ng-if="creatinglocation">
                        <div class="col-xs-12 col-sm-12">
                          <pulse-spinner></pulse-spinner>
                        </div>
                    </div>

                    <form class="form" ng-if="!creatinglocation" ng-submit="createLocation(location)" novalidate="novalidate">

                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <h5 class="text-title">Add New Location</h5>
                                <br>

                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Location Name" ng-model="location.name" required="required"/>
                                </div>

                                <div class="row vertical-align">
                                    <div class="col-xs-12 col-sm-8">
                                        <div class="form-group">
                                            <input type="text" vs-google-autocomplete name="place" class="form-control" placeholder="Street Address" ng-model="location.address"/>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4" id="getAddressButton">
                                        <button type="button" class="btn button-blue btn-block" ng-click="getAddress(location.address)">Find on Map</button>
                                    </div>
                                </div>

                                <input type="submit" ng-if="location.address && location.latitude" class="btn button-blue" value="Add Location"/>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <div id="map_canvas">
                                    <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options" control="map.control">
                                        <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
                                        </ui-gmap-marker>
                                    </ui-gmap-google-map>
                                </div>
                            </div>
                        </div>

                    </form>

                </div>

                <h1 class="text-title">Current Locations</h1>
                <br>

                <div class="row text-center" ng-if="loadinglocations">
                    <div class="col-xs-12 col-sm-12">
                       <pulse-spinner></pulse-spinner>
                    </div>
                </div>

                <div class="row text-center" ng-if="removingLocation">
                    <div class="col-xs-12 col-sm-12">
                       <pulse-spinner></pulse-spinner>
                    </div>
                </div>

                <div class="row text-center padding animated fadeIn" ng-if="!loadinglocations && !checking && !removingLocation && locations.length <= 0">
                    <div class="col-xs-12 col-sm-12">
                        <h4>No Locations Available</h4>
                    </div>
                </div>

                <div class="table-responsive" ng-if="!loadinglocations && !removingLocation && locations.length > 0">
                    <div class="row padding-bottom">
                        <div class="col-xs-12 col-sm-3">
                            <div class="form-group">
                                <label for="searchBox">Search</label>
                                 <input ng-model="Slocations" id="searchBox" class="form-control"/>
                            </div>
                        </div>
                    </div>

                    <table class="table table-hover animated fadeIn">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Address</th>
                                <th>Manage</th>
                            </tr>
                        </thead>
                        <tbody class="box">
                            <tr ng-repeat="location in locations | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage | filter:Slocations">
                                <td>{{ location.name }}</td>
                                <td>{{ location.address }}</td>
                                <td class="icon-arrow">
                                    <a ng-click="editLocation(location)" data-toggle="tooltip" title="Edit Location">
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </a>
                                    <a ng-click="deleteLocation(location.id)" class="padding-left" data-toggle="tooltip" title="Remove Location">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row text-center" ng-if="!loadinglocations && !removingLocation && locations.length > 0">
                    <div class="col-xs-12 col-sm-12">
                        <ul class="pagination">
                            <li><a href="" ng-click="pagination.prevPage()">&laquo;</a></li>
                            <li ng-repeat="n in [] | range: pagination.numPages" ng-class="{active: n == pagination.page}">
                                <a href="" ng-click="pagination.toPageId(n)">{{n + 1}}</a>
                            </li>
                            <li><a href="" ng-click="pagination.nextPage()">&raquo;</a></li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>

    <div ng-include="'views/locations/location.html'"></div>

  </div>
</div>
