<div class="row text-center" ng-if="loading">
    <div class="col-xs-12 col-sm-12">
        <pulse-spinner></pulse-spinner>
    </div>
</div>


<div class="container-fluid" ng-if="!loading">
  <div class="row">
    <div class="col-sm-3 col-lg-2">
      <nav class="navbar navbar-default navbar-fixed-side sidebar-background">

          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse padding-top" id="navbar">
              <ul class="nav navbar-nav padding-top text-left">
                <li><a ui-sref="dashboard">Incidents</a></li>
                <li ng-if="profile.role === 'Admin' || profile.role === 'Super Admin'"><a ui-sref="dashboard.documents">Document Library</a></li>
                <li ng-if="profile.role === 'Admin' || profile.role === 'Super Admin'"><a ui-sref="dashboard.users">Manage Users</a></li>
                <li ng-if="profile.role === 'Admin' || profile.role === 'Super Admin'"><a ui-sref="dashboard.locations">Manage Locations</a></li>
                <li><a ui-sref="dashboard.incidents">Previous Incidents</a></li>
              </ul>

            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->

      </nav>
    </div>
    <div class="col-sm-9 col-lg-10">

        <div class="container-fluid padding">

            <div class="row animated fadeIn">
                <div class="col-xs-12 col-sm-12">

                    <h1 class="text-title">Manage Profile</h1>
                    <h5>Update your account details</h5>

                    <div class="padding-top padding-bottom">
                        <h1 class="text-title">Update User</h1>
                    </div>

                    <div class="box padding">

                        <div class="row text-center" ng-if="updating">
                            <div class="col-xs-12 col-sm-12">
                               <pulse-spinner></pulse-spinner>
                            </div>
                        </div>

                        <form class="form" ng-if="!updating" ng-submit="updateProfile(profile)" novalidate="novalidate">

                            <div class="row">
                                <div class="col-xs-12 col-sm-4">
                                    <div class="form-group">
                                        <input type="text" placeholder="Your Name" class="form-control" ng-model="profile.first_name">
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-4">
                                    <div class="form-group">
                                        <select class="form-control" ng-model="profile.custom_fields.department">
                                            <option value="IT">IT</option>
                                            <option value="Sales">Sales</option>
                                            <option value="HR">HR</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-4">
                                    <div class="form-group">
                                        <select class="form-control" ng-model="profile.custom_fields.crisis_role" required="required">
                                            <option value="CMT">CMT</option>
                                            <option value="BRTChair">BRT Chair</option>
                                            <option value="BRTMember">BRT Member</option>
                                            <option value="other">Other</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12 col-sm-3">
                                    <div class="form-group">
                                        <input type="text" placeholder="Mobile Phone" class="form-control" ng-model="profile.custom_fields.mobile_phone">
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-2">
                                    <div class="form-group">
                                        <input type="text" placeholder="Work Phone" class="form-control" ng-model="profile.custom_fields.work_phone">
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-3">
                                    <div class="form-group">
                                        <input type="text" placeholder="Home Phone" class="form-control" ng-model="profile.custom_fields.home_phone">
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-4">
                                    <div class="form-group">
                                        <input type="email" placeholder="Email Address" class="form-control" ng-model="profile.email">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12 col-sm-3">
                                    <input type="submit" class="btn button-blue btn-block" value="Update">
                                </div>
                            </div>

                        </form>

                    </div>

                    <div class="padding-top padding-bottom">
                        <h1 class="text-title">Update Password</h1>
                    </div>

                    <div class="box padding">

                        <div class="row text-center" ng-if="updatingPassword">
                            <div class="col-xs-12 col-sm-12">
                               <pulse-spinner></pulse-spinner>
                            </div>
                        </div>

                        <form ng-if="!updatingPassword" class="form" ng-submit="updatePassword(userPassword)" novalidate="novalidate">

                            <div class="row">

                                <div class="col-xs-12 col-sm-5">
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="New Password" ng-model="userPassword.new" required="required">
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-5">
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Confirm New Password" ng-model="userPassword.confirm" required="required">
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-2">
                                    <div class="form-group">
                                        <input type="submit" class="btn button-blue btn-block" value="Update"/>
                                    </div>
                                </div>

                            </div>

                        </form>

                    </div>

                </div>
            </div>

        </div>


    </div>
  </div>
</div>
