<div class="row text-center" ng-if="loading">
    <div class="col-xs-12 col-sm-12">
        <pulse-spinner></pulse-spinner>
    </div>
</div>


<div class="container-fluid" ng-if="!loading">
  <div class="row">
    <div class="col-sm-3 col-lg-2">
      <nav class="navbar navbar-default navbar-fixed-side sidebar-background">

          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse padding-top" id="navbar">
              <ul class="nav navbar-nav padding-top text-left">
                <li><a ui-sref="dashboard">Incidents</a></li>
                <li ng-if="profile.role === 'Admin' || profile.role === 'Super Admin'"><a ui-sref="dashboard.documents">Document Library</a></li>
                <li class="active" ng-if="profile.role === 'Admin' || profile.role === 'Super Admin'"><a ui-sref="dashboard.users">Manage Users</a></li>
                <li ng-if="profile.role === 'Admin' || profile.role === 'Super Admin'"><a ui-sref="dashboard.locations">Manage Locations</a></li>
                <li><a ui-sref="dashboard.incidents">Previous Incidents</a></li>
              </ul>

            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->

      </nav>
    </div>
    <div class="col-sm-9 col-lg-10">

        <div class="container-fluid padding">

            <div class="row animated fadeIn">
                <h1 class="text-title">Manage Users</h1>
                <h5>Add and remove users, as well as update their roles and information</h5>

                <div class="padding-top padding-bottom">
                    <h1 class="text-title">Add New User
                        <ng-csv-import
                          class="btn import"
                          content="csv.content"
                          header="csv.header"
                          header-visible="csv.headerVisible"
                          separator="csv.separator"
                          separator-visible="csv.separatorVisible"
                          result="csv.result"
                          encoding="csv.encoding"
                          encoding-visible="csv.encodingVisible"></ng-csv-import>
                    </h1>
                </div>

                <div ng-if="csv.result" class="padding-bottom">
                    <p>The File is ready to upload</p>
                    <button type="button" class="btn button-blue" ng-click="addUsers(csv.result)">Create Users</button>
                </div>

                <div class="box padding">

                    <div class="row text-center" ng-if="creatingUser">
                        <div class="col-xs-12 col-sm-12">
                            <pulse-spinner></pulse-spinner>
                        </div>
                    </div>

                    <form class="form" name="usersForm" ng-if="!creatingUser" ng-submit="createUser(newuser, usersForm)" novalidate="novalidate">

                        <div class="row">
                            <div class="col-xs-12 col-sm-3">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Employee Name" ng-model="newuser.name" required="required"/>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-3">
                                <div class="form-group">
                                    <select class="form-control" ng-model="newuser.department" required="required">
                                        <option value="">---Select a Department---</option>
                                        <option value="IT">IT</option>
                                        <option value="Sales">Sales</option>
                                        <option value="HR">HR</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-3">
                                <div class="form-group">
                                    <select class="form-control" ng-model="newuser.role" required="required">
                                        <option value="">---Select a Role---</option>
                                        <option value="App">App</option>
                                        <option value="Incident">Incident Dashboard</option>
                                        <option value="Admin">Admin</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-3">
                                <div class="form-group">
                                    <select class="form-control" ng-model="newuser.crisis_role" required="required">
                                        <option value="">---Select a Crisis Role---</option>
                                        <option value="CMT">CMT</option>
                                        <option value="BRTChair">BRT Chair</option>
                                        <option value="BRTMember">BRT Member</option>
                                        <option value="other">Other</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-2">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Mobile Phone" ng-model="newuser.mobile_phone" required="required"/>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-3">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Work Phone" ng-model="newuser.work_phone" required="required"/>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-3">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Home Phone" ng-model="newuser.home_phone" required="required"/>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-4">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Email Address" ng-model="newuser.email" required="required"/>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-2">
                                <input type="submit" class="btn button-blue btn-block" value="Create"/>
                            </div>
                        </div>

                    </form>

                </div>

                <div class="padding-top padding-bottom">
                    <h1 class="text-title">Current Users</h1>
                </div>

                <div class="row text-center" ng-if="loadingUsers">
                    <div class="col-xs-12 col-sm-12">
                        <pulse-spinner></pulse-spinner>
                    </div>
                </div>


                <div class="row text-center" ng-if="removingUser">
                    <div class="col-xs-12 col-sm-12">
                        <pulse-spinner></pulse-spinner>
                    </div>
                </div>

                <div class="row text-center padding animated fadeIn" ng-if="!loadingUsers && users.length <= 0">
                    <div class="col-xs-12 col-sm-12">
                        <h4>No User Availables</h4>
                    </div>
                </div>

                <div class="table-responsive" ng-if="!loadingUsers && !removingUser">
                    <div class="row padding-bottom">
                        <div class="col-xs-12 col-sm-3">
                            <div class="form-group">
                                <label for="searchBox">Search</label>
                                 <input ng-model="Susers" id="searchBox" class="form-control"/>
                            </div>
                        </div>
                    </div>

                    <table class='table table-hover animated fadeIn' ng-if="!loadingUsers || removingUser && users.length > 0">
                      <thead>
                        <tr>
                          <th>
                            Name
                          </th>
                          <th>
                            Dept
                          </th>
                          <th>
                            Mobile
                          </th>
                          <th>
                            Work
                          </th>
                          <th>
                            Home
                          </th>
                            <th>Manage</th>
                            <th></th>
                        </tr>
                      </thead>
                      <tbody class="box" ng-repeat="user in users | orderBy:sortType:sortReverse | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage | filter:Susers">
                        <tr>
                            <td>
                                {{ user.first_name }}
                                <div class="collapse user_collapse" id="collapse_{{ user.id }}">
                                    <hr>
                                    <p>Role: {{ user.role }}</p>
                                    <p>Crisis Role: {{ user.custom_fields.crisis_role }}</p>
                                    <p>Email: {{ user.email }}</p>
                                </div>
                            </td>
                            <td>{{ user.custom_fields.department }}</td>
                            <td>{{ user.custom_fields.mobile_phone }}</td>
                            <td>{{ user.custom_fields.work_phone }}</td>
                            <td>{{ user.custom_fields.home_phone }}</td>
                            <td class="icon-arrow">
                                <a ng-click="editUser(user)" data-toggle="tooltip" title="Edit User">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a>
                                <a ng-click="deleteUser(user.id)" class="padding-left" data-toggle="tooltip" title="Remove User">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </td>
                            <td class="icon-arrow" role="button" ng-click="changeIcon(user.id)" data-toggle="collapse" href="#collapse_{{ user.id }}" aria-expanded="false" aria-controls="collapseExample">
                                <span id="span_{{ user.id }}" class="glyphicon glyphicon-menu-right"></span>

                            </td>
                        </tr>
                      </tbody>
                    </table>
                </div>

            </div>

            <div class="row text-center" ng-if="!loadingUsers && !removingUser && users.length > 0">
                <div class="col-xs-12 col-sm-12">
                    <ul class="pagination">
                        <li><a href="" ng-click="pagination.prevPage()">&laquo;</a></li>
                        <li ng-repeat="n in [] | range: pagination.numPages" ng-class="{active: n == pagination.page}">
                            <a href="" ng-click="pagination.toPageId(n)">{{n + 1}}</a>
                        </li>
                        <li><a href="" ng-click="pagination.nextPage()">&raquo;</a></li>
                    </ul>
                </div>
            </div>

        </div>

    </div>

    <div ng-include="'views/users/user.html'"></div>

  </div>
</div>
