@import "colors"

.header-background
    background: white
    border-color: white
    border-bottom-color: transparent
    padding: 5px
    *
        color: $text-title !important

.navbar-default .navbar-nav>li>.profile:focus, .navbar-default .navbar-nav>li>.profile:hover
    background: $darkblue
    color: white !important
    span.glyphicon
        color: white !important

.navbar-default .navbar-nav>li>.profile, .navbar-default .navbar-nav>li>.profile
    span.glyphicon
        color: $blue !important
        font-size: 15px

.navbar-default .navbar-nav > li > .profile:focus, .navbar-default .navbar-nav > li > .profile:hover, .navbar-default .navbar-nav > li > .profile:active
    background: transparent
    color: $blue !important

.navbar-default .navbar-nav>.open>.profile, .navbar-default .navbar-nav>.open>.profile:focus, .navbar-default .navbar-nav>.open>.profile:hover
    background: transparent
    color: $blue !important

.headerMessage
    color: white !important
    &:hover
      background: $darkred !important
    &:active
      background: $darkred !important
    &:focus
      background: $darkred !important

.headerMessageBlue
    color: white !important
    &:hover
      background: $darkblue !important
    &:active
      background: $darkblue !important
    &:focus
      background: $darkblue !important

.center-block
  margin-top: -4px
