=button($color, $background)
    border-radius: 0 !important
    padding: 10px
    color: $color
    background: $background
    transition: all 0.3s ease 0s
    &:active
        color: $color
        background: $background
    &:focus
        color: $color
        background: $background

.button-blue
    +button(white, $blue)
    &:hover
        color: white
        background: $darkblue

.button-red
    +button(white, $red)
    &:hover
        color: white
        background: $darkred

.button-trans
    +button($text-body, transparent)
    border: 2px solid $text-body
    &:hover
        color: $sidebar-bg
        background: $text-body
        border-color: $text-body
