$sidebar-bg: #D4E0E7
$content-bg: #E5E8E9
// Title/Header/Input
$text-title: #2E454D
// Subs/Body
$text-body: #6E808A
$blue: #64B8D8
$darkblue: #2E454D
$red: #D86464
$darkred: #C35656
$orange: #F8B34F

// Classes
.text-title
    color: $text-title

.bg-content
    background: $content-bg !important

.text-orange
    color: $orange
