@import "app/header"
@import "auth/login"
@import "dashboard/sidebar"
@import "dashboard/users"
@import "dashboard/modal"
@import "dashboard/locations"
@import "dashboard/documents"
@import "images"
@import "colors"
@import "buttons"

@media print
    .no-print, .no-print *
        display: none !important

.pagecontainer
    margin-left: 0 !important
    margin-right: 0 !important

html, *
    font-family: "museo-slab"
    font-weight: 500

html
	position: relative
	min-height: 100%

html, body
	overflow-x: hidden
	min-width: 100%
	width: 100%

body
     padding-top: 50px
     color: $text-body
     padding-bottom: 100px


.has-success .form-control-feedback
  color: #99D789

.has-error .form-control
  border-color: $red
  &:focus
    border-color: $red

.has-error .form-control-feedback
  color: $red

.margin-right
  margin-right: 10px

.padding
    padding: 20px

.padding-xs
    padding: 10px

.padding-top
    padding-top: 20px

.padding-bottom
    padding-bottom: 20px

.padding-left
    padding-left: 20px

.padding-right
    padding-right: 20px

.nomarginbottom
    margin-bottom: 0px
    border-radius: 0px

.box
    background: white

.vertical-align
    vertical-align: middle

.help-block
  margin-top: 0px !important
  margin-bottom: 0px !important

.form-group
  margin-bottom: 25px !important


a:hover
    cursor: pointer
    text-decoration: none

.has-success .form-control
  border-color: #E5E8E9 !important
  &:focus
    border-color: #66afe9 !important

.form-control
    border-radius: 0
    border: 2px solid $content-bg

.angular-google-map-container
    height: 300px

.pac-container
    z-index: 1051 !important

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover
    background: $blue !important
    border-color: $blue

.pagination>li:last-child>a, .pagination>li:last-child>span, .pagination>li:first-child>a, .pagination>li:first-child>span
    color: $darkblue !important
