.modal-content
    border-radius: 0 !important
    background: transparent
    border: none
    box-shadow: none

.modal-body
    background: white

.modal-header
    color: white !important
    border: none
    border-color: transparent

.modal
    top: 15em !important
    left: 12em !important

.modal-header .close
    margin-top: 28px
    opacity: 1
    color: white
    font-size: 30px
