@import "colors"

.sidebar-background
    background: $sidebar-bg
    border-color: $sidebar-bg
    *
        color: $text-title !important

.navbar-fixed-side .navbar-nav>li>a:hover, .navbar-fixed-side .navbar-nav>li>a:focus, .navbar-fixed-side .navbar-nav .dropdown-menu>li>a:hover, .navbar-fixed-side .navbar-nav .dropdown-menu>li>a:focus
    background: $blue
    color: white !important

.navbar-fixed-side .navbar-nav>li>a
    border-color: $sidebar-bg

.navbar-fixed-side .navbar-collapse
    border-color: $sidebar-bg

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover
    background: $darkblue;
    border-color: $darkblue
    color: white !important
