thead
    background: $sidebar-bg

table
    color: $text-title

.icon-arrow
    span.glyphicon
        color: $blue !important
    a
        span.glyphicon
            color: $blue !important


div.import > div
  margin: 15px 0px

div.import > div > span
  color: white

div.import>div>input[type="file"]
  color: transparent
  padding: 0

div.import>div>input[type="file"]::-webkit-file-upload-button
  visibility: hidden

div.import>div>input[type="file"]::before
  content: 'Import CSV file'
  display: inline-block
  background: $blue
  color: white
  border-radius: 0 !important
  padding: 10px
  outline: none
  white-space: nowrap
  -webkit-user-select: none
  cursor: pointer
  transition: all 0.3s ease 0s


div.import>div>input[type="file"]:hover::before
  color: white
  background: $darkblue


div.import>div>input[type="file"]:active::before
    color: white
    background: $darkblue


div.import>div>input[type="file"]:active
    -webkit-box-shadow: none !important
    box-shadow: 0 !important

.numUsers
  padding-top: 25px
