<div class="modal fade" id="sendSummaryModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2>Update Stakeholders</h2>
            </div>
            <div class="modal-body padding">
                <div class="row animated fadeIn padding">

                    <div class="row text-center padding">
                        <div class="col-xs-12 col-sm-8 col-sm-push-2">

                            <h2 class="text-title">Send Summary to Stakeholders</h2>
                            <h5>This will send a summary to the email addresses below</h5>

                            <div class="row padding-top" ng-repeat="email in emails">
                              <div class="col-xs-12 col-sm-6 col-sm-push-2">
                                  <input type="email" class="form-control" ng-change="editEmail(email)" placeholder="Email Address" ng-model="email" />
                              </div>
                              <div class="col-xs-12 col-sm-2 col-sm-push-2">
                                  <button id="getAddressButton" type="button" class="btn button-red" ng-click="removeEmail(email)">Remove</button>
                              </div>
                            </div>

                            <form class="form" name="emailForm" ng-submit="addEmail(email, emailForm)" novalidate>
                              <div class="row padding-top">
                                <div class="col-xs-12 col-sm-6 col-sm-push-2">
                                    <div class="form-group">
                                      <input type="email" class="form-control" placeholder="Email Address" ng-model="email.newEmail" required="required"/>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-2 col-sm-push-2">
                                    <input type="submit" id="getAddressButton" class="btn button-blue" value="Add another" />
                                </div>
                              </div>
                            </form>

                        </div>
                    </div>

                    <form class="form" name="summaryForm" ng-submit="summary(summaryText, summaryForm)" novalidate="novalidate">
                      <div class="row">
                        <div class="col-xs-12 col-sm-12">

                          <div class="text-center">
                            <label>Send to:</label>

                            <div class='checkbox-inline'>
                                <label for="summaryBRTmember">
                                    <input type='checkbox' id="summaryBRTmember" name='' value='BRTMember' ng-model="summaryText.member">
                                    BRT Member
                                </label>
                            </div>

                            <div class='checkbox-inline'>
                                <label for="summaryBRTchair">
                                    <input type='checkbox' id="summaryBRTchair" name='' value='BRTChair' ng-model="summaryText.chair">
                                    BRT Chair
                                </label>
                            </div>

                            <div class='checkbox-inline'>
                                 <label for="summaryCMT">
                                    <input type='checkbox' id="summaryCMT" name='' value='CMT' ng-model="summaryText.cmt">
                                    CMT
                                </label>
                            </div>

                            <div class='checkbox-inline'>
                                 <label for="summaryOther">
                                    <input type='checkbox' id="summaryOther" name='' value='Other' ng-model="summaryText.other">
                                    Other
                                </label>
                            </div>
                          </div>

                          <textarea class="form-control" placeholder="Add optional message" rows="8" cols="40" ng-model="summaryText.message"></textarea>

                          <div class="row padding-top">
                            <div class="col-xs-12 col-sm-3">
                              <input type="submit" class="btn button-blue btn-block" value="Send" />
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <div ng-repeat="email in emails">
  <input type="email" class="form-control" placeholder="Email Address" ng-model="email" />
</div> -->
