<!DOCTYPE html>
<html lang="en" ng-app="inverroy">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/" target="_blank"/>
    <title>MAERSK</title>

    <!-- build:css css/styles.css -->
      <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
      <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css">
      <link rel="stylesheet" href="lib/animate.css/animate.min.css">
      <link rel="stylesheet" href="lib/bootstrap-side-navbar/source/assets/stylesheets/navbar-fixed-side.css">
      <link rel="stylesheet" href="lib/angular-spinkit/build/angular-spinkit.min.css">
      <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css">
      <link rel="stylesheet" href="lib/sweetalert2/dist/sweetalert2.min.css">
      <link rel="stylesheet" href="lib/ngprogress/ngProgress.css">
      <!-- <link rel="icon" type="image/png" href="dist/image/favicon.png" /> -->
      <link rel="stylesheet" href="dist/css/style.css">
    <!-- endbuild -->

    <!-- build:js js/main.js -->
      <script src="lib/angular/angular.min.js" charset="utf-8"></script>
      <script src="https://use.typekit.net/ekq6jcw.js"></script>
      <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <!-- endbuild -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-controller="MainController" class="loginBackground">

    <div ui-view="header" ng-if="!loading"></div>

    <div ui-view="content"></div>

    <div ui-view="footer"></div>

    <!-- build:js js/main.js -->
    <script src="lib/jquery/dist/jquery.min.js" charset="utf-8"></script>
    <script src="dist/js/main.js" charset="utf-8"></script>
    <script src="lib/angular-ui-router/release/angular-ui-router.min.js" charset="utf-8"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js" charset="utf-8"></script>
    <script src="lib/angular-auto-validate/dist/jcs-auto-validate.min.js" charset="utf-8"></script>
    <script src="lib/moment.js" charset="utf-8"></script>
    <script src="lib/ng-file-upload/ng-file-upload-all.min.js" charset="utf-8"></script>
    <script src="lib/lodash/dist/lodash.js" charset="utf-8"></script>
    <script src="lib/angular-simple-logger/dist/angular-simple-logger.min.js" charset="utf-8"></script>
    <script src="lib/angular-google-maps/dist/angular-google-maps.min.js" charset="utf-8"></script>
    <script src="lib/angular-reverse-geocode/angular-reverse-geocode.js" charset="utf-8"></script>
    <script src="lib/angular-export-table/kayalshri-table-export.jquery.plugin-a891806/table-export.js"></script>
    <script src="lib/angular-export-table/kayalshri-table-export.jquery.plugin-a891806/jquery.base64.js"></script>
    <script src="lib/angular-export-table/kayalshri-table-export.jquery.plugin-a891806/html2canvas.js"></script>
    <script src="lib/angular-export-table/kayalshri-table-export.jquery.plugin-a891806/jspdf/jspdf.js"></script>
    <script src="lib/angular-export-table/kayalshri-table-export.jquery.plugin-a891806/jspdf/libs/base64.js"></script>
    <script src="lib/angular-export-table/kayalshri-table-export.jquery.plugin-a891806/jspdf/libs/sprintf.js"></script>
    <script src="lib/vsGoogleAutocomplete/dist/vs-google-autocomplete.min.js"></script>
    <script src="lib/ng-simplePagination/simplePagination.js"></script>
    <script src="lib/angular-export-table/kayalshri-table-export.jquery.plugin-a891806/table-export.js"></script>
    <script src="lib/angular-export-table/kayalshri-table-export.jquery.plugin-a891806/jquery.base64.js"></script>
    <script src="lib/angular-export-table/kayalshri-table-export.jquery.plugin-a891806/html2canvas.js"></script>
    <script src="lib/angular-export-table/kayalshri-table-export.jquery.plugin-a891806/jspdf/jspdf.js"></script>
    <script src="lib/angular-export-table/kayalshri-table-export.jquery.plugin-a891806/jspdf/libs/base64.js"></script>
    <script src="lib/angular-export-table/kayalshri-table-export.jquery.plugin-a891806/jspdf/libs/sprintf.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBwtSWU7XXJtwRP5_P7Y80G0xurzSCCqFw&libraries=places"></script>
    <script src="lib/angular-csv-import/dist/angular-csv-import.js"></script>
    <script src="https://cdn.rawgit.com/niklasvh/html2canvas/0.5.0-alpha2/dist/html2canvas.min.js"></script>
    <script src="https://mrrio.github.io/jsPDF/dist/jspdf.debug.js"></script>
    <script src="lib/angular-save-html-to-pdf/dist/saveHtmlToPdf.min.js"></script>
    <script src="lib/pdfmake/build/pdfmake.min.js"></script>
    <script src="lib/pdfmake/build/vfs_fonts.js"></script>
    <script src="lib/angular-spinkit/build/angular-spinkit.min.js"></script>
    <script src="lib/angular-file-saver/dist/angular-file-saver.min.js"></script>
    <script src="lib/remarkable-bootstrap-notify/dist/bootstrap-notify.min.js"></script>
    <script src="lib/es6-promise/es6-promise.min.js"></script>
    <script src="lib/sweetalert2/dist/sweetalert2.min.js"></script>
    <script src="lib/ngprogress/build/ngprogress.min.js"></script>
    <!-- endbuild -->

  </body>
</html>
