<div class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2>Add Note</h2>
            </div>
            <div class="modal-body padding">
                <div class="row animated fadeIn padding">

                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <div class="text-center">
                                <h3 class="text-title">Add note to Incident activity Feed</h3>
                                <h6>This message will appear in the feed, but will not be sent to anyone</h6>
                            </div>

                            <form class="form padding-top" ng-submit="addNote(note)" novalidate="novalidate">
                                <div class="form-group">
                                    <textarea maxlength="300" class="form-control" name="name" rows="8" cols="40" ng-model="note.message"></textarea>
                                </div>
                                <p><small>Characters remaining {{ 300 - note.message.length }}</small></p>

                                <div class="row">
                                    <div class="col-xs-12 col-sm-3">
                                        <input type="submit" class="btn button-blue btn-block" value="Post Message"/>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
