<div class="row text-center" ng-if="checking">
    <div class="col-xs-12 col-sm-12">
        <pulse-spinner></pulse-spinner>
    </div>
</div>

<div class="container-fluid animated fadeIn" ng-if="!checking && !isLogged">

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 logo">
                <img src="dist/image/logo.svg" class="img-responsive center-block" alt="app-logo" width="300">
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-push-3 loginBox center-block">

                <h3 class="padding-bottom text-title text-center">Admin Login</h3>

                <div class="alert alert-danger" role="alert" ng-show="error.type == 'unauthorized' || error.type == 'error'">
                    <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    {{ error.message }}
                </div>

                <form class='form' name="loginForm" ng-submit="login(user, loginForm)" novalidate>

                  <div class="form-group">
                    <input type="email" class="form-control" id="email" placeholder="Email Address" ng-model="user.email" required>
                  </div>

                  <div class="form-group">
                    <input type="password" class="form-control" id="password" placeholder="Password" ng-model="user.password" required>
                  </div>

                  <input type="submit" value="Login" class="btn button-blue btn-block"/>

                </form>

                <br>
                <a ui-sref="recover" class="text-title">Forgot your password?</a>

            </div>
        </div>

    </div>

</div>
