<div class="container-fluid animated fadeIn">

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 logo">
                <img src="dist/image/logo.svg" class="img-responsive center-block" alt="app-logo" width="300">
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-push-3 loginBox center-block">

              <a ui-sref="login" class="text-title">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                  Back to login
              </a>

                <h3 class="padding-bottom text-title text-center">Set your Password</h3>

                <form class='form' name="recoverForm" ng-submit="setPassword(user)" novalidate>
                  <div class="form-group">
                    <input type="password" class="form-control" id="password" placeholder="Password" ng-model="user.password" required>
                  </div>

                  <div class="form-group">
                    <input type="password" class="form-control" id="password_confirmation" placeholder="Confirm Password" ng-model="user.password_confirmation" required>
                  </div>

                  <input type="submit" value="Set Password" class="btn button-blue btn-block"/>
                </form>
            </div>
        </div>

    </div>

</div>
