<nav class="navbar navbar-default navbar-fixed-top nomarginbottom header-background" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#header">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="dashboard">
          <img src="../dist/image/logo.svg" class="img-responsive center-block" alt="app-logo" width="150">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="header">

      <ul class="nav navbar-nav navbar-right">
          <li ng-if="active"><a ui-sref="dashboard" class="btn button-red headerMessage">Active Incident</a></li>
          <li ng-if="!active"><a ui-sref="dashboard" class="btn button-blue headerMessageBlue">No Active Incident</a></li>

          <li class="dropdown">
             <a href="" class="dropdown-toggle profile" data-toggle="dropdown" role="button" aria-expanded="false">
                   {{ profile.email }} <span class="caret"></span>
             </a>

             <ul class="dropdown-menu" role="menu">
                 <li><a ui-sref="dashboard.profile"><i class="glyphicon glyphicon-user"></i> Profile</a></li>
                 <li><a ng-click="logout()"><i class="fa fa-btn fa-sign-out"></i> Logout</a></li>
             </ul>
         </li>

      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
