@import "colors"

.loginBackground
    background: $content-bg

.loginBox
    background: white
    margin-top: 250px
    margin-bottom: 150px
    padding: 40px

// .loginTitle
//     color: $title-color
