<div class="modal fade" id="documentModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2>Manage Document</h2>
            </div>
            <div class="modal-body padding">
                <div class="row animated fadeIn padding">

                    <div class="row padding">
                        <div class="col-xs-12 col-sm-8 col-sm-push-2">

                            <form class="form" ng-submit="updateFile(currentDocument)">
                                <div class="form-group text-center">
                                    <input type="text" class="form-control" ng-model="currentDocument.name"/>
                                </div>

                                <label>User roles that have access: </label>

                                <div class='checkbox-inline'>
                                    <label for="brtnmember">
                                    <input type='checkbox' id="brtnmember" name='' ng-model='currentDocument.custom_fields.brtmember'>
                                    BRT Member
                                    </label>
                                </div>

                                <div class='checkbox-inline'>
                                    <label for="brtchair">
                                        <input type='checkbox' id="brtchair" name='' ng-model='currentDocument.custom_fields.brtchair'>
                                        BRT Chair
                                    </label>
                                </div>

                                <div class='checkbox-inline'>
                                    <label for="cmt">
                                        <input type='checkbox' id="cmt" name='' ng-model='currentDocument.custom_fields.cmt'>
                                        CMT
                                    </label>
                                </div>

                                <div class='checkbox-inline'>
                                    <label for="other">
                                        <input type='checkbox' id="other" name='' ng-model='currentDocument.custom_fields.other'>
                                        Other
                                    </label>
                                </div>

                                <div class="row padding-top">
                                    <div class="col-xs-12 col-sm-4 col-sm-push-4">
                                        <input type="submit" class="btn button-blue btn-block" value="Update"/>
                                    </div>
                                </div>

                            </form>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
