<div class="modal fade" id="removefileModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2>Delete Document</h2>
            </div>
            <div class="modal-body padding">
                <div class="row animated fadeIn padding">

                    <div class="row text-center padding">
                        <div class="col-xs-12 col-sm-8 col-sm-push-2">

                            <h2 class="text-title">Are you sure you want to delete this document</h2>

                            <div class="padding-top">
                                <button type="button" class="btn button-blue" ng-click="closeModal()">No, I changed my mind</button>
                                <button type="button" class="btn button-red" ng-click="deleteFile()">Yes, Remove it please</button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
