<div class="modal fade" id="editlocationModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2>Update Location</h2>
            </div>
            <div class="modal-body">
                <div class="row animated fadeIn padding">

                    <div class="row">
                        <div class="col-xs-12 col-sm-12">

                            <div class="row text-center" ng-if="updatingLocation">
                                <div class="col-xs-12 col-sm-12">
                                  <pulse-spinner></pulse-spinner>
                                </div>
                            </div>

                            <form class="form" ng-if="!updatingLocation" ng-submit="updateLocation(currentlocation)" novalidate="novalidate">

                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <h5 class="text-title">Add New Location</h5>
                                        <br>

                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Location Name" ng-model="currentlocation.name" required="required"/>
                                        </div>

                                        <div class="row vertical-align">
                                            <div class="col-xs-12 col-sm-8">
                                                <div class="form-group">
                                                    <input type="text" vs-google-autocomplete name="place2" class="form-control" placeholder="Street Address" ng-model="currentlocation.address" required="required"/>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-4" id="getAddressButton">
                                                <button type="button" class="btn button-blue btn-block" ng-click="getAddress2(currentlocation.address)">Find on Map</button>
                                            </div>
                                        </div>

                                        <input type="submit" ng-if="currentlocation.address && currentlocation.latitude" class="btn button-blue" value="Update"/>
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                      <div class="row text-center" ng-if="!showMap">
                                          <div class="col-xs-12 col-sm-12">
                                             <pulse-spinner></pulse-spinner>
                                          </div>
                                      </div>
                                        <div id="map_canvas">
                                            <ui-gmap-google-map ng-if="showMap" center="map2.center" zoom="map2.zoom" options="options" control="map.control">
                                                <ui-gmap-marker coords="marker2.coords" options="marker2.options" events="marker2.events" idkey="marker2.id">
                                                </ui-gmap-marker>
                                            </ui-gmap-google-map>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
