<div class="modal fade" id="editincidentModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2>Edit Active Incident</h2>
            </div>
            <div class="modal-body">
                <div class="row animated fadeIn padding">

                    <div class="row">
                        <div class="col-xs-12 col-sm-12">

                            <div class="row text-center" ng-if="updatingevent">
                                <div class="col-xs-12 col-sm-12">
                                   <pulse-spinner></pulse-spinner>
                                </div>
                            </div>

                            <form class="form" ng-if="!updatingevent" ng-submit="updateIncident(currentEvent)" novalidate="novalidate">

                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">

                                        <div ng-if="currentEvent.place.id && newplace.address" class="alert alert-danger" role="alert">
                                            You can not select a location from the list and create a new one at the same time.
                                        </div>

                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Incident Title" ng-model="currentEvent.name" required="required"/>
                                        </div>

                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Incident Description" ng-model="currentEvent.details" required="required"/>
                                        </div>

                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Incident Phone Number" ng-model="currentEvent.custom_fields.phone" required="required"/>
                                        </div>

                                        <div class="row text-center" ng-if="loadinglocations">
                                            <div class="col-xs-12 col-sm-12">
                                                <pulse-spinner></pulse-spinner>
                                            </div>
                                        </div>

                                        <div class="row text-center" ng-if="changinglocation">
                                            <div class="col-xs-12 col-sm-12">
                                                <pulse-spinner></pulse-spinner>
                                            </div>
                                        </div>

                                        <div class="form-group" ng-if="!loadinglocations">
                                            <select class="form-control" ng-model="currentEvent.place.id" ng-options="location.id as location.name for location in locations">
                                                <option value="">---Select a Location---</option>
                                            </select>
                                        </div>

                                        <p>Or enter the address of the incident, or drag the marker on the map</p>

                                        <div class="row vertical-align">
                                            <div class="col-xs-12 col-sm-8">
                                                <div class="form-group">
                                                    <input type="text" vs-google-autocomplete name="place" class="form-control" placeholder="Street Address" ng-model="newplace.address"/>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-4" id="getAddressButton">
                                                <button type="button" class="btn button-blue btn-block" ng-click="getAddress2(newplace.address)">Find on Map</button>
                                            </div>
                                        </div>

                                        <div class="row text-center padding-top" ng-if="!newplace.address">
                                            <div class="col-xs-12 col-sm-12">
                                                <input ng-disabled="currentEvent.place.id && newplace.address" type="submit" class="btn button-blue" value="Update Incident"/>
                                            </div>
                                        </div>

                                        <div class="row text-center padding-top" ng-if="newplace.address">
                                            <div class="col-xs-12 col-sm-12">
                                                <input ng-disabled="!newplace.latitude" type="submit" class="btn button-blue" value="Update Incident"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="row text-center padding-top" ng-if="!showMap">
                                            <div class="col-xs-12 col-sm-12">
                                                <pulse-spinner></pulse-spinner>
                                            </div>
                                        </div>
                                        <div id="map_canvas">
                                            <ui-gmap-google-map ng-if="showMap" center="map2.center" zoom="map2.zoom" options="options" control="map.control">
                                                <ui-gmap-marker coords="marker2.coords" options="marker2.options" events="marker2.events" idkey="marker2.id">
                                                </ui-gmap-marker>
                                            </ui-gmap-google-map>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
