<div class="modal fade" id="stopModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2>Stop Active Incident</h2>
            </div>
            <div class="modal-body padding">
                <div class="row animated fadeIn padding">

                    <div class="row text-center padding">
                        <div class="col-xs-12 col-sm-8 col-sm-push-2">

                            <h2 class="text-title">Are you sure you want to stop the active incident</h2>
                            <h4>A copy of the activity log will be saved in 'Previous Incidents'</h4>

                            <div class="padding-top">
                                <button type="button" class="btn button-blue" ng-click="closeStop()">Continue Incident</button>
                                <button type="button" class="btn button-red" ng-click="stopIncident()">Stop Incident</button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
